version: '3.8'

networks:
  rclonenet:

services:
  zurg:
    image: ghcr.io/debridmediamanager/zurg-testing:latest
    container_name: zurg
    restart: unless-stopped
    volumes:
     - ./plex_update.sh:/app/plex_update.sh
     - ./config.yml:/app/config.yml
     - zurgdata:/app/data
    network_mode: service:vpn
    depends_on:
      - vpn

  rclone:
    image: rclone/rclone:latest
    container_name: rclone
    restart: unless-stopped
    environment:
      TZ: Europe/Berlin
      PUID: 1000
      PGID: 1000
    volumes:
      - /mnt/zurg:/data:rshared # CHANGE /mnt/zurg WITH YOUR PREFERRED MOUNT PATH
      - ./rcloneconfig/:/config/rclone/
      - ./rclonecache:/cache
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    devices:
      - /dev/fuse:/dev/fuse:rwm
    depends_on:
      - zurg
    command: "mount zurg: /data --cache-dir /cache --allow-other --dir-cache-time 50h --poll-interval 30s --vfs-cache-mode full --vfs-cache-max-size 30g --vfs-read-wait 5s --vfs-read-chunk-size 4M --vfs-read-chunk-size-limit 1024M --no-checksum --no-modtime --vfs-read-ahead 10g --allow-non-empty --cache-info-age 100h"
    networks:
      - rclonenet

  vpn:
    container_name: vpn
    image: ghcr.io/bubuntux/nordvpn:latest
    cap_add:
      - NET_ADMIN               # Required
      - NET_RAW                 # Required
    environment:                # Review https://github.com/bubuntux/nordvpn#environment-variables
      - TOKEN=<nordVPN token>
      - CONNECT=Stockholm
      - TECHNOLOGY=NordLynx
      - NETWORK=172.17.0.0/16  # So it can be accessed within the local network
    expose:
      - "9999"
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1  # Recomended if using ipv4 only
    networks:
      - rclonenet

volumes:
  zurgdata:

